body {
    font-family: 'Manrope', sans-serif;
    width: 100%;
    background: #F5F5F5;
}
.container {
    margin: 0 auto;
    width: 1400px;
    background: #ffffff;
    padding: 125px;
}
h1 {
    width: 956px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    }
h2 {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #121212;
    }
p.one {
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
    color: #121212;
 }
 .interior {
    margin-top: 30px;
    margin-bottom: 150px;
    width: 1150px;
    height: 500px;
    
    background-image: url('../interior.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 379px;
 }
 .interior-text-wrapper {
    width: 430px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: white;
 }
 a {
    display: inline-block;
    margin-top: 30px;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #ad1818;
    color: #ffffff;
 }
